<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="descartes.info.l3ag2.eyetrek"
    android:versionCode="5"
    android:versionName="0.5.1.1 eyetrek_dev"
    android:vmSafeMode="true"
    android:largeHeap="true"

    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Demande l'autorisation à l'utilisateur d'utiliser la camera du terminal -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Demande l'autorisation à l'utilisateur d'écrire sur le stockage du terminal -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <!-- Demande l'autorisation à l'utilisateur de lire sur le stockage du terminal -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Demande l'autorisation à l'utilisateur de lire sur le stockage du terminal -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Demande l'autorisation à l'utilisateur d'enregistrer des fichier Audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!-- Précise que l'application utilise "totalement" l'API Camera2 -->
    <!--<uses-feature android:name="android.hardware.camera2.full" />-->
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".activity.AstroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            >
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

</manifest>